<loading *ngIf="loading"></loading>
<div *ngIf="!loading">
    <div class="animated project fadeIn" [ngStyle]="{'animation-delay': i*125 +'ms'}" *ngFor="let project of projects; let i = index">
        <img [src]="'../../../assets/images/' + project.image" [alt]="project.name + ' screenshot'" (click)="openModal(project)">
        <h2>{{ project.name }}</h2>
        <span class="year">{{ project.year }}</span>
        <div class="tools">
            <span class="tool" *ngFor="let tool of project.tools">
              {{ tool }}
            </span>
          </div>
        <p>{{ project.description }}</p>
        <div class="roles">
          <span class="role" *ngFor="let role of project.role">
            {{ role}}
          </span>
        </div>
    </div>
</div>


<ngx-smart-modal  #imageModal [identifier]="'imageModal'">
    <img class="modal-image"
         [src]="'../../../assets/images/' + imageModal.getData()">
</ngx-smart-modal>