:host {
    section.hero {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: left;
        z-index: 5;
        margin-left: 20%;
        margin-right: 25%;
        animation-name:  bounce, fadeIn;
        h1 {
            font-size: 4em;
            margin-bottom: 30px;
            span {
                color: #1694c5;
            }
        }
    }
    .scroll-indicator {
        position: absolute;
        bottom: 10px;
        right: 50%;
        display: flex;
        flex-direction: column;
        i {
            border: solid #f4f4f4;
            border-width: 0 5px 5px 0;
            display: inline-block;
            padding: 20px;
            transform: rotate(45deg);
            &:nth-child(2) {
                transform: rotate(45deg) translateY(-20px) translateX(-20px);
            }
        }
          
    }


*{
    margin: 0px;
    padding: 0px;
}

.context h1{
    text-align: center;
    color: #fff;
    font-size: 50px;
}


.area{
    width: 100%;
    height:100vh;
    
   
}

.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;

    li {
        position: absolute;
        display: block;
        list-style: none;
        width: 5px;
        height: 5px;
        top: -50px;
        border-radius: 25px;
        z-index: -1;

        @for $i from 1 through 70 {
            &:nth-child(#{$i}) {
                left: random(150)+vh;
                animation: falling (random(18000) + 2000)+ms linear infinite, twinkle (random(5) + 2)+s linear infinite;
                animation-delay: -+random(1500)+ms;
                opacity: random();
            }
            &:nth-child(odd) {
                background: rgba(22, 148, 197)
            }
            &:nth-child(even) {
                background: rgba(255, 255, 255)
            }
        }
        @for $i from 1 through 15 {
            &:nth-child(#{$i}) {
                left: -+random(50)+vh;
            }
        }
        
    }
}



@keyframes falling {

    0%{
        transform: translateY(0) rotate(0deg);
    }

    100%{
        transform: translateY(100vh) translateX(50vw) rotate(720deg);
        opacity: 0;
    }

}

@keyframes twinkle {

    0%{
        opacity: auto;
    }

    45%{
        opacity: 1;
    }

    55%{
        opacity: 0.5;
    }
    100%{
        opacity: auto;
    }

}
}